body {

    background: url(woody.jfif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     background-color:  #2d545e;
  }
  